<h2>The hidden chosen word: <%=hidden_word_array%></h2>

<form method="post" action="choose_letter">
	<input type="hidden" name="hidden_word_array" value='<%=hidden_word_array%>'><br>	
<h3> Second Player choose a letter:</h3>
	<input type="text" name="letter" pattern="[A-Za-z]{1}"><br>
	<input type="submit" value="Add">

<h3> Here are your incorrect guesses:</h3>
	<%=incorrect_guesses%>
</form>




