<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background1">

<p class="j">Player One input a word:</p>
<form method="post" action="choose_word">
	<center><input type="password" name="chosen_word" pattern="[A-Za-z]{5,}" autofocus>
	<input type="submit" value="Add"></center>
</form>


</body>
</html>