<!DOCTYPE html>
<html>
<head>
	<title></title>
	
<style>

</style>
</head>
<body class="background5">
<p class="e"></p>
<h1>INSTRUCTIONS</h1>

<h2>1) Player One chooses a word containing at least five letters</h2>
<h2>to be hidden for Player Two to guess </h2>
<h2>2) Player Two chooses one letter at a time to guess the word</h2>
<h2>3) Correct letter guesses replace the corresponding letters in the chosen word</h2>
<h2>4) Incorrect letter guesses are placed in a box</h2>
<h2>5) Game over when Player Two correctly guesses the chosen word  </h2>		  <h2>(wins the game) or when there are 13 incorrect letter guesses (loses the game) </h2>

</body>
</html>