<!DOCTYPE html>
<html>
<head>
	<title></title>
	
<style>

</style>
</head>
<body class="background4">

<form method="post" action="losing_result">
<p class="h">YOU LOSE...</p>
<p class="b">...YOU HANG! Word is: <%=chosen_word%></p>
</form>

</body>
</html>

